<div class="NewHeader">
  <h1 mat-dialog-title> Order Status</h1>
</div>
<div mat-dialog-content>
  <ul class="timeline">
    <li>
      <i class="fa fa-check" style="background-color:#35aa47 !important;color:#fff !important;"></i>
      <div class="timeline-item">
        <h3 class="timeline-header">Shipped</h3>
        <div class="timeline-body">
          <ul>
            <li>Source : Coimbatore</li>
            <li>Designation : Bangalore</li>
            <li>Pickup Date : 20-12-2019</li>
            <li>Pickup Time: 08:30</li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <i class="fa fa-check" style="background-color:#35aa47 !important;color:#fff !important;"></i>
      <div class="timeline-item">
        <h3 class="timeline-header">In Transit</h3>
        <div class="timeline-body">
          <ul>
            <li>Source : Coimbatore</li>
            <li>Designation : Bangalore</li>
            <li>Pickup Date : 20-12-2019</li>
            <li>Pickup Time: 08:30</li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <i class="fa fa-check" style="background-color:#35aa47 !important;color:#fff !important;"></i>
      <div class="timeline-item">
        <h3 class="timeline-header">Delivered</h3>
        <div class="timeline-body">
          <ul>
            <li>Source : Coimbatore</li>
            <li>Designation : Bangalore</li>
            <li>Delivered Date : 24-12-2019</li>
            <li>Delivered Time: 20:10</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button class="CancelClass" (click)="close()"><mat-icon>cancel</mat-icon>&nbsp;Cancel</button>
</mat-dialog-actions> 